<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Penning Photographics</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.svg">
    </head>
    <body id="body">
        <div id="reactEntry" class="site">
            <!-- Load JavaScript -->
            <script type="text/javascript" src="{{ url_for('static', filename='js/cart.bundle.js') }}"></script>
        </div>
    </body>
</html>
