<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pennington Photographics</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
  </head>
  <body id="body">
    <div class="center-static">
      <h1>Create a New Administrator</h1>
      <div class="center-static-content">
        <form action="/accounts/?target=/admin/" method="post">
          <input type="hidden" name="operation" value="create" />
          <label htmlFor="username">Administrator Username</label><br />
          <input type="text" name="username" id="username" /><br />
          <label htmlFor="password">Password</label><br />
          <input type="password" name="password" id="password" /><br />
          <br />
          <div class="menu-buttons">
            <h3><a href="/admin/" className="logout-button">go back</a></h3>
            <input type="submit" value="Create Administrator" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
