/* basic styles */

body {
    background-color: white;
    font-family: 'Futura', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar {
    display: none;
}

#body {
    overflow: auto;
}

.altbody {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.smallpad {
    margin: 0.2em;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

input[type=text],
textarea,
input[type=password] {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: 0.2em solid rgb(26, 115, 232);
    background: rgba(26, 115, 232, 0.2);
    border-radius: 0.2em 0.2em 0 0;
    padding: 0.4em;
    color: rgb(26, 115, 232);
}

select {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: 0.2em solid rgb(26, 115, 232);
    background: rgba(26, 115, 232, 0.2);
    border-radius: 0.2em 0.2em 0 0;
    padding: 0.4em;
    color: rgb(26, 115, 232);
    cursor: pointer;
}

option {
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

h4 {
    font-weight: normal;
}

textarea {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    height: 150px;
    resize: none;
}

input[type=submit],
.submit-button {
    border-radius: 0.25rem;
    padding: 0.85em 1.5em;
    color: black;
    background-color: rgb(26, 115, 232);
    color: white;
    font-weight: bold;
    transition: 0.1s all ease;
    border: 0px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

input[type=submit]:hover,
.submit-button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label[for=file] {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5em;
    justify-items: center;
    align-content: center;
    color: rgb(26, 115, 232);
    border: 0.2em solid rgb(26, 115, 232);
    background: rgba(0, 0, 0, 0);
    padding: 0.85em 1.5em;
    color: rgb(26, 115, 232);
    border-radius: 0.5rem;
    transition: 0.1s;
    width: fit-content;
    cursor: pointer;
}

label[for=file]:hover,
label[for=file]:focus,
label[for=file]:active {
    background: rgb(26, 115, 232);
    color: #fff;
}

input[type=file] {
    display: none;
}

input[type=date] {
    cursor: pointer;
    outline: none;
    border: 0.2em solid rgb(26, 115, 232);
    padding: 0.8em 0.9em;
    border-radius: 0.5rem;
    color: rgb(26, 115, 232);
}

input[type=button],
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0.2em solid rgb(26, 115, 232);
    background: rgba(0, 0, 0, 0);
    padding: 0.85em 1.5em;
    color: rgb(26, 115, 232);
    border-radius: 0.5rem;
    transition: 0.1s;
    font-weight: bold;
    cursor: pointer;
}

input[type=button]:hover,
input[type=button]:focus,
button:hover,
button.cart-button {
    background: rgb(26, 115, 232);
    color: #fff;
}

input[type=button]:active,
button:active,
button.cart-button:active {
    background: rgb(2, 70, 180);
}

button.cart-button {
    min-width: 9rem;
}

input[type=number] {
    width: 3em;
    padding: 0.5em;
    border: 0.2em solid rgb(26, 115, 232);
    border-radius: 0.5rem;
    text-align: center;
    color: rgb(26, 115, 232);
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    background: rgba(26, 115, 232, 0.2);
    outline: none;
}

.menu-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.save-label {
    padding-left: 1rem;
}

h3.fancy {
    color: gray;
}

h3.alt {
    color: white;
}

h1.alt {
    color: white;
}

p.alt {
    color: white;
}

/* button.confirmatory {} */

button.clicked {
    background-color: darkred;
    color: white;
    border: 0.2em solid darkred;
}

h5 {
    font-size: small;
}

a {
    text-decoration: none;
    font-weight: normal;
    color: black;
}

/* custom classes */

.loaded {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.loading {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    overflow: hidden;
    height: -webkit-fill-available;
}

.loaded-nf {
    opacity: 1;
}

.loading-nf {
    opacity: 0;
    overflow: hidden;
    height: -webkit-fill-available;
}

.loading-invis {
    display: none;
    overflow: hidden;
}

.welcome-page {
    color: white;
}

.background-img {
    width: -webkit-fill-available;
    object-fit: cover;
    object-position: top left;
    margin: 1vh;
    margin-top: 9vh;
    border: 1vh solid black;
}

.info-page {
    height: 100vh;
    color: black;
}

.bw-info {
    width: fit-content;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
}

.info-content {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 80%;
}

.home-info-content {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 80%;
    flex-direction: column;
}

.side-by-side {
    flex-direction: row;
}

.favorites-info-content-side-by-side {
    max-width: 100%;
}

.info-text {
    width: 50%;
    padding-right: 2rem;
    font-size: x-large;
}

.info-img {
    width: 50%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 2rem;
    text-align: center;
}

.home-info-text {
    width: 100%;
    padding-right: 2rem;
    font-size: x-large;
}

.home-info-img {
    width: 70%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.nopadside {
    padding-right: 0;
    padding-left: 0;
}

.bio-text {
    width: 50%;
    padding-left: 2rem;
}

.bio-img {
    width: 50%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 2rem;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0vw;
    height: 8vh;
    z-index: 100;
    display: inline-flex;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-content {
    margin-left: auto;
    margin-right: auto;
    position: inherit;
    z-index: inherit;
    width: 80vw;
}

.navbar-loading {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    overflow: hidden;
    pointer-events: none;
    height: 0px;
}

.navbar-spacer {
    width: 80vw;
    z-index: 0;
}

.navbar-titles {
    text-align: center;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: inherit;
    width: 80vw;
    height: 8vh;
}

.navbar-title {
    width: fit-content;
    margin: 0%;
    padding: 0%;
    font-size: xx-large;
}

.navbar-links {
    text-align: center;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    position: inherit;
    width: 80vw;
    height: 8vh;
}

.navbar-link {
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
    width: 15vw;
    text-align: center;
    color: black;
}

.navbar-icon {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 32px;
}

.navbar-gradient {
    position: fixed;
    z-index: 100;
    top: 5rem;
    height: 2rem;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
}

.navbar-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.admin-page {
    display: flex;
}

.admin-content {
    display: block;
    margin: 3rem;
    width: 70%;
    right: 0;
    position: absolute;
}

.edit-stuff {
    text-align: left;
}

.edit-list-item {
    cursor: pointer;
}

.edit-list-item.h3:hover {
    text-decoration: underline;
}

.badpass {
    padding: 0.5rem;
    color: red;
    font-weight: bold;
}

.successpass {
    padding: 0.5rem;
    color: green;
    font-weight: bold;
}

.center-static {
    border-radius: 2rem;
    border: 2px solid gray;
    padding: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
    text-align: center;
}

.center-static-content {
    text-align: left;
}

.logout-button {
    text-decoration: underline;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.logout-button:hover {
    background-color: darkgrey;
}

.sidebar {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: lightgray;
    border-right: 2px solid black;
    padding: 2rem;
}

.sidebar-item {
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: larger;
}

.sidebar-item:hover {
    cursor: pointer;
    background-color: darkgrey;
    transition: all 0.2s ease-in-out;
}

.sidebar-item:active {
    background-color: grey;
}

.new-button {
    background: green;
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: bolder;
    width: fit-content;
}

.new-button:hover {
    background-color: darkgreen;
    transition: all 0.2s ease-in-out;
}

.new-button:active {
    color: lightgrey;
}

.done {
    transition: all 0.2s ease-in-out;
}

.loading-page {
    text-align: center;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    max-width: 8rem;
}

.site-contents {
    position: relative;
    top: 5rem;
    padding: 4rem;
    width: fit-content;
    max-width: 120vh;
    margin-right: auto;
    margin-left: auto;
}

.dialogue {
    text-align: center;
    font-size: x-large;
}

.galleries-tray {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2rem;
}

.thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    aspect-ratio: 3/ 2;
    object-fit: cover;
    grid-column: span 6;
    grid-row: span 4;
    transition: all 0.2s ease-in-out;
    text-align: center;
    color: black;
    border: 1vh solid black;
    padding: 1rem;
}

.edit {
    grid-column: span 3;
    grid-row: span 2;
}

.thumbnail:hover {
    cursor: pointer;
    transform: translateY(-0.5rem);
    transition: all 0.2s ease-in-out;
}

.photos-tray {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2rem;
}

.photo-slot-default {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    aspect-ratio: 3/ 3;
    object-fit: cover;
    grid-column: span 3;
    grid-row: span 3;
    transition: all 0.2s ease-in-out;
    padding: 1rem;
    border: 1vh solid black;
}

.photo-slot-default:hover {
    transform: translateY(-0.5rem);
    transition: all 0.2s ease-in-out;
}

.photo-slot-triptych {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    aspect-ratio: 6/ 4;
    object-fit: cover;
    grid-column: span 6;
    grid-row: span 4;
    transition: all 0.2s ease-in-out;
    padding: 1rem;
    border: 1vh solid black;
}

.photo-slot-triptych:hover {
    transform: translateY(-0.5rem);
    transition: all 0.2s ease-in-out;
}

.photo-slot-mirror-image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    aspect-ratio: 6/ 4;
    object-fit: cover;
    grid-column: span 6;
    grid-row: span 4;
    transition: all 0.2s ease-in-out;
    padding: 1rem;
}

.photo-slot-mirror-image:hover {
    transform: translateY(-0.5rem);
    transition: all 0.2s ease-in-out;
}

.photo {
    object-fit: scale-down;
    /* pointer-events: none; */
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.photo-slot-static-content {
    box-shadow: none;
    /* object-fit: cover; */
    grid-column: span 3;
    grid-row: span 3;
    padding: 1rem;
    width: -webkit-fill-available;
    height: auto;
}

.photo-slot-static-content:hover {
    transform: none;
}

.blur {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.clickable {
    cursor: pointer;
}

.blown-up-image {
    object-fit: scale-down;
    width: auto;
    height: auto;
    max-height: 65vh;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.4), 0 24px 80px 0 rgba(0, 0, 0, 0.38);
    max-width: 100vw;
}

.blown-up-image-big {
    object-fit: scale-down;
    width: auto;
    height: auto;
    max-height: 80vh;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.4), 0 24px 80px 0 rgba(0, 0, 0, 0.38);
    max-width: 100vw;
}

.upload-lock {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    pointer-events: all;
    background-color: rgba(128,128,128,0.2);
}

.upload-lock-flexbox {
    height: 100vh;
    width: 100vw;
    display: inline-flex;
    justify-content: space-around;
}

.upload-lock-display {
    height: 35rem;
    width: 35rem;
    border-radius: 4rem;
    background-color: rgb(60, 179, 113);
    z-index: 100;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
}

.upload-lock-content {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.p {
    width: 60vw;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    border: 2px solid black;
    border-radius: 4px;
    padding: 1rem;
}

th {
    font-weight: bold;
    font-size: larger;
}

td {
    font-weight: 500;
}

.big-text {
    font-size: 2.5vh;
}

.details-box {
    cursor: pointer;
    padding: 1rem;
    width: auto;
    color: white;
}

.blown-up-container {
    position: fixed;
    z-index: 150;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
}

.blown-up-container-nh {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
}

.blown-up-content {
    text-align: center;
    margin: 2%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.blown-up-img-and-sizes {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

/* input.span {} */

/* input.fancy {} */

label.fancy {
    color: rgb(26, 115, 232);
}

.edit-box-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    margin-right: 1rem;
}

.right {
    margin-left: 1rem;
}

.edit-box {
    text-align: left;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
    margin-top: 1rem;
}

.edit-box-bottom {
    text-align: left;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
    margin-top: 1rem;
    display: inline-flex;
    justify-content: space-around;
}

.edit-box-column {
    text-align: left;
}

.min-margin {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.right-text {
    text-align: right;
}

.size-checkbox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wide {
    width: 100%;
}

.short {
    height: 20vh;
}

.cart-list {
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.cart-line {
    text-align: left;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-name {
    width: 20vw;
}

.cart-select {
    width: 10vw;
}

.cart-thumbnail {
    width: 80px;
    height: 60px;
    object-fit: contain;
}

.cart-item-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40vw;
}

.upload-picture-form {
    border: 2px solid gray;
    border-radius: 1rem;
    padding: 1.75rem;
    width: fit-content;
}

.mobile {
    text-align: center;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

.arrows {
    display: flex;
    justify-content: space-between;
}

.arrow {
    height: 32px;
    border-radius: 20%;
}

.arrow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.arrow:active {
    background-color: gray;
}

/* mobile */
@media only screen and (max-width: 1200px) {
    .galleries-tray {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
    }

    .photos-tray {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
    }

    .info-content {
        display: block;
    }

    .info-text {
        padding-right: 0;
        width: 100%;
    }

    .info-img {
        width: 100%;
        padding-left: 0;
    }

    h1 {
        font-size: 2.5vh;
    }

    h3 {
        font-size: 2vh;
    }

    input[type=text],
    input[type=password],
    input[type=submit],
    input[type=button],
    textarea,
    button,
    a,
    p,
    .mfs {
        font-size: 1.75vh;
    }

    textarea {
        min-height: 40vh;
        height: fit-content;
    }

    input[type=submit] {
        border-radius: 0.75rem;
    }

    input[type=button] {
        border-radius: 0.75rem;
    }
}