/* basic styles */

body {
    background-color: white;
    font-family: 'Futura', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

#body {
    overflow: auto;
}

h3.fancy {
    color: gray;
}

h3.alt {
    color: white;
    
}

button.confirmatory {

}

button.clicked {
    background-color: darkred;
    color: white;
}

h5 {
    font-size: small;
}

a {
    text-decoration: none;
    font-weight: normal;
    color: black;
}

/* custom classes */

.loaded {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.loading {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    overflow: hidden;
    height: -webkit-fill-available;
}

.loading-invis {
    display: none;
    overflow: hidden;
}

.welcome-page {
    color: white;
}

.background-img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.info-page {
    height: 100vh;
    color: black;
}

.bw-info {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
}

.info-content {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 80%;
}

.info-text {
    width: 50%;
    padding-right: 2rem;
}

.info-img {
    width: 50%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 2rem;
}

.bio-text {
    width: 50%;
    padding-left: 2rem;
}

.bio-img {
    width: 50%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 2rem;
}

.navbar {
    display: inline-flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0vw;
    height: 5rem;
    z-index: 100;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-gradient {
    position: fixed;
    z-index: 100;
    top: 5rem;
    height: 2rem;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
}

.navbar-item {
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
    width: 10vw;
    text-align: center;
    color: black;
}

.navbar-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.admin-page {
    display: flex;
}

.admin-content {
    display: block;
    margin: 3rem;
    width: 70%;
    right: 0;
    position: absolute;
}

.logout-button {
    text-decoration: underline;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.logout-button:hover {
    background-color: darkgrey;
}

.sidebar {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: lightgray;
    border-right: 2px solid black;
    padding: 2rem;
}

.sidebar-item {
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: larger;
}

.sidebar-item:hover {
    cursor: pointer;
    background-color: darkgrey;
    transition: all 0.2s ease-in-out;
}

.sidebar-item:active {
    background-color: grey;
}

.new-button {
    background: green;
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: bolder;
    width: fit-content;
}

.new-button:hover {
    background-color: darkgreen;
    transition: all 0.2s ease-in-out;
}

.new-button:active {
    color: lightgrey;
}

.loading-page {
    text-align: center;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    max-width: 8rem;
}

.site-contents {
    position: relative;
    top: 5rem;
    padding: 4rem;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.dialogue {
    text-align: center;
}

.galleries-tray {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2rem;
}

.thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    aspect-ratio: 3/ 2;
    object-fit: cover;
    grid-column: span 3;
    grid-row: span 2;
    transition: all 0.2s ease-in-out;
    text-align: center;
    color: black;
    max-height: 2fr;
}

.thumbnail:hover {
    cursor: pointer;
    transform: translateY(-0.5rem);
    transition: all 0.2s ease-in-out;
}

.photos-tray {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2rem;
}

.photo-slot {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    aspect-ratio: 3/ 2;
    object-fit: cover;
    grid-column: span 3;
    grid-row: span 2;
    transition: all 0.2s ease-in-out;
}

.photo-slot:hover {
    transform: translateY(-0.5rem);
    transition: all 0.2s ease-in-out;
}

.photo {
    object-fit: cover;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.clickable {
    cursor: pointer;
}

.blown-up-image {
    scale: 70%;
}

.blown-up-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color:rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
}

.blown-up-content {
    text-align: center;
    vertical-align: top;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

input.span {
}

input.fancy {

}

label.fancy {
    color: white;
}

.edit-box {
    text-align: left;
}
