body {
    background-color: white;
    font-family: 'Futura', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.welcome-page {
    background-image: url('/static/img/IMG_2019.jpg');
    height: 100vh;
    color: white;
}

.info-page {
    height: 100vh;
    color: black;
}

.navbar {
    display: inline-flex;
    justify-content: space-around;
    position: fixed;
    height: 5rem;
    width: 100%;
    top: 0px;
}

.navbar-item {
    font-weight: bold;
    color: white;
    font-size: 3rem;
    padding: 1rem;
}
